<div class="card">
        <div class="card-header bg-dark text-white-50">{{list.productName}}</div>
        <div class="card-body">
            <img src="{{list.imageUrl}}" width="200px" height="200px">
            <div class="row">
                <div class="col-4">Name:</div>
                <div class="col-4">{{list.productName}}</div>
    
            </div>
            <div class="row">
                <div class="col-4">Code:</div>
                <div class="col-4">{{list.productCode}}</div>
    
            </div>
            <div class="row">
                <div class="col-4">Description:</div>
                <div class="col-4">{{list.description}}</div>
    
            </div>
            <div class="row">
                <div class="col-4">Availability:</div>
                <div class="col-4">{{list.releaseDate}}</div>
    
            </div>
            <div class="row">
                <div class="col-4">Price:</div>
                <div class="col-4">{{list.price}}</div>
    
            </div>
            <div class="row">
                <div class="col-4">5 Star Rating:</div>
                <div class="col-4">{{list.starRating}}</div>
    
            </div>
        </div>
        <div class="card-footer bg-dark"><a [routerLink]="['/product']" class="text-white-50"><b>&larr;  Back</b></a></div>
    </div>