<div class="card">
        <div class="card-header bg-dark text-white-50">Leaf Rake</div>
        <div class="card-body">
            <img src="assets\images\download.jpg" width="200px" height="200px">
            <div class="row">
                <div class="col-4">Name:</div>
                <div class="col-4">Leaf Rake</div>
    
            </div>
            <div class="row">
                <div class="col-4">Code:</div>
                <div class="col-4">GND-0011</div>
    
            </div>
            <div class="row">
                <div class="col-4">Description:</div>
                <div class="col-4">Leaf rake with 48-inch wooden handle.</div>
    
            </div>
            <div class="row">
                <div class="col-4">Availability:</div>
                <div class="col-4">March 19,2018</div>
    
            </div>
            <div class="row">
                <div class="col-4">Price:</div>
                <div class="col-4">$19.95</div>
    
            </div>
            <div class="row">
                <div class="col-4">5 Star Rating:</div>
                <div class="col-4">3.2</div>
    
            </div>
        </div>
        <div class="card-footer bg-dark"><a href="#" class="text-white-50"><b>&larr;  Back</b></a></div>
    </div>